* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    overflow: auto;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(12, 100px);
    grid-column-gap: 1.5vw;
    grid-row-gap: 2vh;
    margin: 0 auto;
    overflow: auto;
}

.titleBox {
    grid-column: 1/2;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
}

.title {
    font-size: 2em;
    font-weight: 700;
    transform: rotate(90deg);
    transform-origin: left top;
}

.nameBox {
    grid-column: 7/9;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name {
    font-size: 2em;
    font-weight: 500;
}

.engName {
    font-size: 1em;
    font-weight: 200;
}

.imageBox {
    background-color: black;
    grid-column: 9/12;
    grid-row: 1/7;
}

.emailBox {
    grid-column: 9/13;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email {
    font-size: 1.5em;
    font-weight: 100;
}

.career {
    grid-column: 3/7;
    grid-row: 9/10;
    text-align: right;
    font-weight: 400;
}
