@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Protest+Guerrilla&display=swap');

* {
    cursor: url('../../images/curser/curserSiri.svg'), auto;
}

*:active {
    cursor: url('../../images/curser/curserFlower.svg'), auto;
}

body {
    background-color: black;
    color: rgb(255, 236, 173);
    font-family: 'Gugi', 'Protest Guerrilla';
}