/* 스타일링된 bubs-grid */
.bubs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 58px);
    width: clamp(80vw, 100%, 1280px);
  }
  
  input {
    width: 56px;
    height: 56px;
    appearance: none;
    background-image: url(https://i.ibb.co/8NMTPRY/bubble.gif);
    background-size: 56px 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotate(var(--rotation-degrees));
  }
  
  input:checked {
    pointer-events: none;
    cursor: default;
    background-position: 0 -50px;
  }
  
  /* 기본 body 스타일 */
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 2rem;
  }
  
  /* 로딩 메시지 스타일 */
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  
  .loading.hide {
    display: none;
  }
  
  /* 버튼 스타일 */
  button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.125rem;
    appearance: none;
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: 150ms ease;
  }
  
  button.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  button:active {
    transform: translateY(0.125rem);
  }
  