body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

}

.container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 150px;
    background-image: url(../../../images/character.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.card.flipped {
    background-color: #ffadad;
    background-image: none; /* 이미지 제거 */
}
